:root {
    --sidebarWidth: 280px;
}


*, ::after, ::before {
	margin: 0;
	padding: 0;
}


.sidebar{
	align-items: center;
	background-color: var(--lightBlue);
	color: var(--fontGrey);
	width: var(--sidebarWidth);
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	overflow-x: hidden;
	height: calc(100vh - var(--headerHeight));
}

.sidebar .title-sidebar{
	font-size: 35px;
	padding: 10px 10px;
	text-align: center;
}


.sidebar .title-sidebar input {
	width: calc((var(--sidebarWidth) - 30px)/2);
}


.uncheck-all-btn {
	margin-bottom: 10px;
	padding: 4px 10px;
	border-radius: 1em;
	border: var(--fontGrey) 2px solid;
	background-color: var(--lightBlue);
	color: var(--fontGrey);
}

.uncheck-all-btn:hover {
	cursor: pointer;
	background-color: var(--fontGrey);
	color: var(--lightBlue);
}

.search-description {
	padding: 10px;
}

.sidebar .list-of-alleles{
	width: var(--sidebarWidth);
	/* flex-grow: 0; */
	overflow-y: scroll;
	/*height: 100vh;
	overflow-y: auto;*/
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	line-height: 1.2em;
}

/* .list-of-alleles .allele-selection.hide{
	display: none;
} */

.sidebar ::-webkit-scrollbar {
	display: none;
}

.content{
	padding-top: 10px;
}

.content .title {
	padding-bottom: 5px;
}



.download-allele {
	font-size: 0.6em;
}