<input type="checkbox" class="nav-toggle" id="nav-toggle">
<label for="nav-toggle" class="nav-toggle-label">
    <span></span>
</label>
<nav>
    <ul>
        <a href="index"><li class="nav-link">Home</li></a>
        <a href="class1"><li class="nav-link">Class 1 Alleles</li></a>
        <a href="class2"><li class="nav-link">Class 2 Alleles</li></a>
        <a href="#"><li class="nav-link">Download Ligands</li></a>
        <a href="#"><li class="nav-link">Predictors</li></a> 
    </ul>
</nav>